<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PaperWithCode - Snapshot</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/vue.global.js"></script>
        <script src="js/axios.min.js"></script>
    </head>
    
    <body>
        <div id="app">
            <a href="https://github.com/fkjubitch" target="_blank" class="github-corner" aria-label="View on GitHub">
                <img src="images/github.png" alt="GitHub" class="github-icon">
            </a>
            <div class="header">
                <h1 class="main-title">PaperWithCode - Snapshot</h1>
                <p class="sub-title">Data last update: 2025/7/23</p>
            </div>
            <div class="search-box">
                <select v-model="searchType" class="search-type">
                    <option v-for="option in searchOptions" :key="option.value" :value="option.value">
                        {{ option.label }}
                    </option>
                </select>
                <input 
                    class="input-box" 
                    v-model="query" 
                    @keydown.enter="search" 
                    :placeholder="'Search by ' + searchOptions.find(opt => opt.value === searchType).label"
                />
                <button class="search-button" @click="search">Search</button>
            </div>
            <div class="advanced-section">
                <button class="advanced-toggle" @click="toggleAdvanced">
                    <span>Advanced</span>
                    <span class="arrow" :class="{ 'up': showAdvanced }">&#11163;</span>
                </button>
                <!-- Advanced Search Options -->
                <div class="advanced-options" :class="{ 'show': showAdvanced }">
                    <div class="advanced-option">
                        <label>
                            <input type="checkbox" v-model="useRegex">
                            Regex Mode
                        </label>
                    </div>
                    <div class="advanced-option">
                        <label>
                            <input type="checkbox" v-model="caseSensitive">
                            Case Sensitive
                        </label>
                    </div>
                </div>
            </div>
            <!-- Loading bar -->
            <div v-if="isLoading" class="loading-container">
                <div class="loading-spinner"></div>
                <div class="loading-text">Loading...</div>
            </div>
            <div class="search-result">
                <div v-for="item in paginatedResults" :key="item.item.paper_arxiv_id" class="result-item">
                    <div class="paper-title" v-html="highlightText(item.item.paper_title, item.detail, 'paper_title')"></div>
                    <div class="paper-badges">
                        <span v-if="item.item.is_official" class="badge official">Official</span>
                        <span v-if="item.item.mentioned_in_github" class="badge github">GitHub</span>
                        <span v-if="item.item.mentioned_in_paper" class="badge paper">Paper</span>
                    </div>
                    <div class="paper-info">
                        <span class="framework"><b>Framework:</b> {{ item.item.framework }}</span>
                        <span v-if="item.item.paper_arxiv_id!==null" class="arxiv-id"><b>arXiv_id:</b> <span v-html="highlightText(item.item.paper_arxiv_id, item.detail, 'paper_arxiv_id')"></span></span>
                        <span v-else class="arxiv-id"><b>arXiv_id:</b> null</span>
                        <span v-if="item.item.repo_url" class="repo-url"><b>Repo_URL:</b> <span v-html="highlightText(item.item.repo_url, item.detail, 'repo_url')"></span></span>
                        <div class="paper-links">
                            <a :href="item.item.paper_url_abs" target="_blank" class="link-button">Abstract</a>
                            <a :href="item.item.paper_url_pdf" target="_blank" class="link-button">PDF</a>
                            <a v-if="item.item.repo_url" :href="item.item.repo_url" target="_blank" class="link-button github">GitHub</a>
                        </div>
                    </div>
                </div>
                <!-- Paging -->
                <div v-if="totalPages > 1" class="pagination">
                    <button 
                        @click="currentPage = 1" 
                        :disabled="currentPage === 1"
                        class="page-button"
                    >Home</button>
                    <button 
                        @click="currentPage--" 
                        :disabled="currentPage === 1"
                        class="page-button"
                    >&#60;</button>
                    <div class="page-jump">
                        <input 
                            type="number" 
                            v-model.number="jumpToPage" 
                            class="page-input"
                            :min="1"
                            :max="totalPages"
                            @keydown.enter="handlePageJump"
                        >
                        <button 
                            @click="handlePageJump" 
                            class="page-button jump"
                        >Go</button>
                    </div>
                    <span class="page-info">{{ currentPage }} / {{ totalPages }}</span>
                    <button 
                        @click="currentPage++" 
                        :disabled="currentPage === totalPages"
                        class="page-button"
                    >&#62;</button>
                    <button 
                        @click="currentPage = totalPages" 
                        :disabled="currentPage === totalPages"
                        class="page-button"
                    >End</button>
                </div>
            </div>
        </div>

        <script src="js/app.js"></script>
    </body>
</html>